<!-- file name : footer.ejs
   Name : Rohit
   Student ID : 301315173
	Date : 25-01-2023 -->


<!-- <p>Welcome, Khanjan Dave </p> -->
 <script src="/jquery/dist/jquery.min.js"></script>
 <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/javascripts/app.js"></script>

</body>
</html>