
<section class="aboutus" id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      
          <h2>About me</h2>
      
      </div>
    </div>
    <div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media"><img src="/Assests/images/Pic.jfif"
          alt="user photo"></div>
      <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
        <p> Hey! My name is <b>Jay Joshi</b>. I am looking for job opportunity in field of Business Analyst/Data Analyst or Software engineering.
          My educational background is Bachelor's of Engineering in Information Technology. I ave 3 years of work experience as Business Analyst working on SAP BI/BW from 2018 to 2021.
          I have worked as Data Quality Analyst intern at Carfax Canada from May 2022 to August 2022. 
        </p>
    
        <p><a role="button" href="/Assets/images/Jay J Resume.pdf" download="Jay Resume"
            class="btn btn-primary btn-lg">Resume</a></p>
      </div>

    </div>
  </div>
</section>