

<section class="homepage">
    <div>
        <div>
            <div class="para">
                <h6 class="my-4">Business/Data Analyst &amp; Software Engineer</h6>
                <h6>Hi. This is my Portfolio site. You can download my Resume or contact me directly from here.</h6>
                    <a class="btn btn-primary my-4" href="/about" role="button">More</a>
                </div>
        </div>
    </div>
</section>